################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Rosenbach/.vs/Rosenbach/v16
/Rosenbach/Rosenbach/Rosenbach/bin/Debug/netstandard2.0
/Rosenbach/Rosenbach/Rosenbach/obj
/Rosenbach/Rosenbach/Rosenbach.Android/bin/Debug
/Rosenbach/Rosenbach/Rosenbach.Android/obj
/Rosenbach/.vs/Rosenbach/DesignTimeBuild
/Rosenbach/RosenbachTest
